/Java/JAEjemplo1/nbproject/private/
/Java/JAEjemplo1/build/
/Java/JAEjemplo2/nbproject/private/
/Java/JAEjemplo2/build/
/Java/JAEjemplo3/nbproject/private/
/Java/JAEjemplo3/build/
/Java/JAEjemplo4/nbproject/private/
/Java/JAEjemplo4/build/
/Java/JAEjemplo5/nbproject/private/
/Java/JAEjemplo5/build/
/Java/JPAEje1/nbproject/private/
/Java/JPAEje1/build/
/Java/JPAEje2/nbproject/private/
/Java/JPAEje2/build/